.ad-box{
    height:282px;
    border:1px solid lightgrey;
    margin-top:30px;
    margin-left:145px;
    margin-right:145px;
    margin-bottom:15px;
    align-items:center;
    text-align:center;
}

.first-sep-line hr{
    color:lightgray;
    margin:0px;
}

#navbar ul{
    padding:0;
    list-style:none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color: #2a2a2a;
    font-size:16px;
    font-family:Franklin,arial,helvetica,sans-serif;
    text-decoration:none;
    padding-right:20px;
}

.container{
    margin-left:90px;
}

hr{
    margin-right:90px;
    margin-bottom:20px;
}

.innovations-link{
    padding-top:20px;
    margin-bottom:0;
}

.innovations-link a{
    text-decoration:none;
    color: rgb(0, 0,0);
    font-family: Franklin, arial, sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:20px;
}

h1{
    font-family:Postoni, BodoniSvtyTwoITCTT-Book, serif;
    line-height:1.1;
    Color:rgb(42, 42, 42);
    display:block;
    font-size:55px;
    font-weight:700;
    padding-bottom:0px;
    margin-top:5px;
    margin-bottom:20px;
}

h2{
    color:rgb(102, 102, 102);
    display:block;
    font-family:Franklin, arial, sans-serif;
    font-size:20px;
    font-weight:300;
    line-height:25px;
    margin-bottom:16px;
    margin-top:0px;
}

image{
    padding-top:30px;
}

figcaption{
    color:rgb(102, 102, 102);
    display:block;
    font-family:Franklin, arial, sans-serif;
    font-size:14px;
    line-height:17.5px;
    margin-bottom:16px;
    margin-top:8px;
    text-align:left;
}