.header{
    height:60px;
    background-color:black;
}

.header img{
    height:26px;
    width:188px;
    margin-left:525px;
    margin-top:10px;
}

.header p{
    color:rgb(213, 213, 213);
    text-align:center;
    margin-top:0;
    font-family:georgia, "Times New Roman", serif;
    font-size:12px;
    font-style:italic;
}

.ad-box{
    border-bottom:1px solid lightgrey;
    margin-top:30px;
    margin-right:0px;
    margin-bottom:15px;
    align-items:center;
    text-align:center;
}

.ad-box img{
    height:248px;
    width:968px;
    margin-left:145px;
    margin-right:145px;
    margin-bottom:20px;
}

#navbar ul{
    padding:0;
    list-style:none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color: #2a2a2a;
    font-size:16px;
    font-family:Franklin,arial,helvetica,sans-serif;
    text-decoration:none;
    padding-right:20px;
}

.container{
    margin-left:90px;
}

.innovations-link{
    border-top:1px solid lightgrey;
    margin-right:90px;
    padding-top:35px;
    margin-bottom:0;
}

.innovations-link a{
    text-decoration:none;
    color: rgb(0, 0,0);
    font-family: Franklin, arial, sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:20px;
}

h1{
    font-family:Postoni, BodoniSvtyTwoITCTT-Book, serif;
    line-height:1.1;
    Color:rgb(42, 42, 42);
    display:block;
    font-size:55px;
    font-weight:700;
    padding-bottom:0px;
    margin-top:5px;
    margin-bottom:20px;
    margin-right:110px;
}

h2{
    border-bottom:1px solid lightgrey;
    color:rgb(102, 102, 102);
    display:block;
    font-family:Franklin, arial, sans-serif;
    font-size:20px;
    font-weight:300;
    line-height:25px;
    margin-bottom:25px;
    margin-top:0px;
    margin-right:100px;
    padding-bottom:20px;
}

image{
    padding-top:30px;
}

figcaption{
    color:rgb(102, 102, 102);
    display:block;
    font-family:Franklin, arial, sans-serif;
    font-size:14px;
    line-height:17.5px;
    margin-bottom:40px;
    margin-top:8px;
    text-align:left;
}

.byline{
    color:rgb(102, 102, 102);
    display:block;
    font-family:Franklin, arial, sans-serif;
    font-size:16px;
    line-height:20px;;
}

.byline a{
    color:rgb(25, 85, 165);
    font-weight:700;
    text-decoration:none;
}

.bodytext{
    color:rgb(42, 42, 42);
    display:block;
    font-family:Georgia, 'Times New Roman', serif;
    font-size:20px;
    line-height:35px;
}

.bodytext p{
    padding-bottom:6px;
}

.bodytext a{
    color:rgb(25, 85, 165);
    font-family:Georgia, 'Times New Roman', serif;
    font-size:20px;
    text-decoration-style:solid;
    text-decoration-line:underline;
    text-decoration-color:lightgray;
    text-decoration-thickness:1%;
}

.clr{
    clear:both;
}

#main-block{
    float:left;
    width:60%;
}

#sidebar{
    float:right;
    width:40%;
}

.img-sidebar{
    height:968px;
    width:250px;
    border:1px solid lightgrey;
    margin-left:90px;
    align-content:center;
    margin-bottom:30px;
}

.img-sidebar img{
    height:500px;
    width:230px;
    padding-top:234px;
    padding-left:10px;
    padding-right:10px;
}

.most-read a{
    font-weight:800;
    color:rgb(17, 17, 17);
    font-family:Franklin, arial, sans-serif;
    font-size:16px;
    letter-spacing:0.01px;
    text-decoration-line:none;
}

.hr-sidebar{
    margin-left:50px;
    color:black;
}

.most-read{
    margin-left:50px;
}

.img2-sidebar{
    margin-left:50px;
    margin-top:20px;
}

.img2-sidebar img{
    height:216px;
    width:325px;
}

.ad2-box{
    background-color:rgb(247, 247, 247);
    height:250px;
    width:700px;
}

.ad2-box img{
    margin-top:25px;
    margin-bottom:25px;
    margin-left:20px;
    margin-right:20px;
    border:1px solid lightgrey;
    height:200px;
    width:660px;
}

.writer-description{
    float:right;
    width:88%;
}

.comments-button{
    width:680px;
    height:40px;
    border:1px solid rgb(213, 213, 213);
    margin-bottom:30px;
    text-align:center;
    border-radius:2px;
    Box-sizing:border-box;
    font-weight:700;
    color:rgb(42, 42 ,42);
    font-family:Franklin, Arial, Helvetica, sans-serif;
    font-size:16px;
    font-stretch:100%
}

.writer-image{
    margin-bottom:40px;
    margin-right:40px;
}

.writer-image2{
    margin-bottom:20px;
    margin-right:40px;
    border-bottom:1px solid lightgray;
    padding-bottom:20px;
}

.writer-image img{
    border-radius:50%
}

.writer-image2 img{
    border-radius:50%
}

.writer-description a{
    color:rgb(25, 85, 165);
    font-family:Franklin, arial, sans-serif;
    line-height:20px;
    text-decoration-line:none;
    font-weight:800;
    font-size:16px;
    margin-bottom:0;
    padding-bottom:0;
}

.writer-description p{
    margin-top:1px;
    color:rgb(102, 102, 102);
    font-family:Franklin, arial, sans-serif;
    font-size:16px;
    line-height:20px;
}

.writer-description p a{
    color:rgb(42, 42, 42);
    font-weight:400;
}

.footer{
    box-sizing:border-box;
    border-top:1px solid lightgray;
    height:90px;
}

.footer a{
    color:rgb(42, 42 ,42);
    display:block;
    font-family:Franklin, arial, sans-serif;
    font-size:12px;
    line-height:21px;
    text-align:center;
    max-width:100%;
    margin-top:20px;
    text-decoration-line:none;
}